<div class="row">

    <h4 class="mt-3 mb-2">Hallo, selamat datang di
        <span class="">
            Accounting App
            <i class="bi bi-journals"></i>
        </span>

    </h4>

    <div class="col">
        <span class="badge bg-secondary fw-light">developed by
            <span class="text-warning">
                Fighty
            </span>
        </span>
    </div>

</div>