<div class="row">

    <h4 class="mt-3 mb-2">Maaf, terjadi masalah pada hak akses anda,
    </h4>
    <div class="col">
        <%= description%>
    </div>

</div>

<br><br><br>
<div class="row">
    <div>
        <h4>
            <span class="">
                Accounting App
                <i class="bi bi-journals"></i>
            </span>
        </h4>
    </div>
    <div class="col">
        <span class="badge bg-secondary fw-light">developed by
            <span class="text-warning">
                Fighty
            </span>
        </span>
    </div>

</div>